{{ define "title" }}{{.CurrentCategory}} - AppBundleHUB{{ end }}

{{ define "content" }}
{{ template "navbar" (dict "BackLevels" 2) }}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">{{.CurrentCategory}}</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        {{range .Entries}}
        {{ template "app-card" . }}
        {{end}}
    </div>
</div>
{{ end }}
