{{ define "footer" }}
<footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
        <span class="text-4xl">📦</span>
        <p class="font-bold">AppBundleHUB<br/>Your one-stop portable Linux apps repository</p>
        <p>🅮 - ZERO rights reserved</p>
    </aside>
    <nav>
        <a class="link link-hover" href="https://github.com/xplshn/AppBundleHUB">Source Code</a>
    </nav>
</footer>
{{ end }}
