body {
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
}

.card {
    display: flex;
    align-items: center;
    transition: transform 0.1s;
}
.card:hover {
    transform: translateY(-4px);
}

.card figure {
    width: 75px;
    height: 75px;
    display: flex;
    margin-left: 0.85rem;
    align-items: center;
    justify-content: center;
}

.card figure img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-body {
    flex: 1;
    margin-left: 0.5rem; /* Adjust space between image and text */
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: #333;
}

.card-desc {
    font-size: 0.9rem;
    color: #666;
}

.see-more-btn {
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .card {
        padding: 0.5rem; /* Adjust padding for smaller screens */
    }

    .card figure {
        width: 40px; /* Adjust the width for smaller screens */
        height: 40px; /* Adjust the height for smaller screens */
    }

    .card-title {
        font-size: 0.95rem; /* Adjust font size */
    }

    .card-desc {
        font-size: 0.8rem; /* Adjust font size */
    }
}

.app-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.details-body {
    margin-top: 2rem;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-action {
    margin-top: 1rem;
    text-align: center;
}

.error, .no-results {
    text-align: center;
    padding: 2rem;
    color: #6c757d;
}

/* Handle overflow text */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Overflow handling for install commands */
.install-section .code {
    overflow: hidden;
    position: relative;
}

.install-section .code pre {
    overflow: auto;
    white-space: nowrap;
}
